---
import { getCollection, render } from "astro:content";
export async function getStaticPaths() {
  const documents = await getCollection("documents");

  return documents.map((doc) => ({
    params: { id: doc.id },
    props: { doc },
  }));
}
const { doc } = Astro.props;
const { Content } = await render(doc);
---

<h1>{doc.data.title}</h1>
<Content />
